### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

kalel.cat-gram.iml
.idea/*
/.idea
/bower_components
/kalel.cat-gram.iml
/src/css/theme
