@charset "UTF-8";


/// Background color for tagcloud labels
/// @group project
/// @type Color
$color-bg-tag: #555;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-yellow: #ffb403;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-red-orange: #fe4e50;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-violet: #991766;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-pink: #fe1256;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-orange: #fa4b0c;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-green: #04b14e;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-green-blue: #03a486;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-turquoise: #02a8c3;

/// Favorite Color
/// @group project
/// @type Color
$color-fav-blue: #027aa1;